<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<strong>Attribute:</strong>
<% @atts.each do |p| %>
    <% f = p.text.gsub("\n", "").gsub("\r","").gsub(" ", "") %>
    <% if f.length > 0 %>
    <div>
      <%= link_to 'select' , edit_event_wrapper_path(@website.event_wrapper, :element => p.path)%>
      <%= ": #{p.text}" %>
    </div>
    <% end %>
<%end%>

</br>
<%= link_to 'back', website_path(@website) %>