<p id="notice"><%= notice %></p>

<h1>Listing Websites</h1>

<%= link_to 'New Website', new_website_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Page Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.name %></td>
        <td><%= website.url %></td>
        <td><%= website.page_type%></td>
        <td><%= link_to 'Show', website %></td>
        <td><%= link_to 'Edit', edit_website_path(website) %></td>
        <td><%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

