<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <% if @result.data.blank? %>
    <div class="field">
      <% if @result.link_url == nil %>
      <% atts = get_all_elements(@result.website.url)%>
          <% atts.each do |p| %>
              <% q = p.text.gsub("\n", "").gsub("\r","").gsub(" ", "") %>
              <% if q.to_s.length > 0 %>
              <div>
                <%= check_box_tag "data[]", get_xpath_from_node(p)%>
                <%= p.text %>
              </div>
                  <% end %>
          <%end%>
          <% else %>
          <% atts = get_all_elements(@result.link_url)%>
          <% atts.each do |p| %>
              <% q = p.text.gsub("\n", "").gsub("\r","").gsub(" ", "") %>
              <% if q.to_s.length > 0 %>
                  <div>
                    <%= check_box_tag "data[]", get_xpath_from_node(p)%>
                    <%= p.text %>
                  </div>
              <% end %>
          <%end%>
      <% end%>
    </div>
        <% end %>

    <% if !@result.data.blank? %>
        <div class="field">
          <%= "Specificer dato format " %>
          <%=select_tag "time_format", options_for_select(date_formats.map{|s| s}) %>
        </div>

        <div class="field">
          <% @result.data.each do |d| %>
              <% if @result.link_url == nil %>
              <% text = get_node_from_xpath(@result.website.url, d).text %>
                <% else %>
              <% text = get_node_from_xpath(@result.link_url, d).text %>
                  <% end %>
              <% q = text.gsub("\n", "").gsub("\r","").gsub(" ", "") %>
              <% if q.length > 0 %>
              <p>
            <%= select_tag "hashed_data[]", options_for_select(['','titel','tidspunkt', 'beskrivelse','pris','sted'].map{|s| [s, s]}) %>
            <%= text %>
              </p>
                  <% end %>
          <% end %>
        </div>
    <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
