<h1>
  Valgt data for
  <%= @result.website.name %>
</h1>

<h3>
  Url:
  <% if @result.link_url == nil %>
      <%= @result.website.url %>
      <% else %>
  <%= @result.link_url %>
  <% end %>
</h3>
<%= render 'form' %>

<%= link_to 'Show', @result %> |
<%= link_to 'Back', results_path %>


