<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @website.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<strong>Attribute:</strong>
<% @atts.each do |p| %>
    <div>
      <%= check_box_tag 'data[]', get_xpath_from_node(p)%>
      <%= p.text %>
    </div>
<%end%>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %> |
<%= link_to 'Continue', edit_result_path(@website.result) %>