<p id="notice"><%= notice %></p>
<h1>
  Results for:
  <%= @result.website.name %>
</h1>
<h3>
  Url:
  <%= @result.website.url %>
</h3>

<% array_with_hashes = get_array_with_hashs_from_to_arrays_of_same_size(@result.hashed_data, @result.data) %>
<p>

</p>
<% array_with_hashes.each do |h| %>
    <div>
      <% h = h.to_a %>
      <%= "#{h[0][0]} :" %>
      <%= get_node_from_xpath(@result.website.url, h[0][1]).text %>
    </div>
<% end %>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
