<%= form_for(@event_wrapper) do |f| %>
    <% url = @event_wrapper.website.url %>
    <% if @event_wrapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_wrapper.errors.count, "error") %> prohibited this event_wrapper from being saved:</h2>

      <ul>
      <% @event_wrapper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% url = @event_wrapper.website.url %>
    <% if params[:element] != nil %>
        <% @oldPath = params[:element] %>
        <% @path = remove_last_part_of_path(params[:element]) %>
    <% elsif params[:old_element] != nil %>
        <% @path = params[:old_element] %>
    <% else %>
        <% if @event_wrapper.identifier != nil %>
            <% nodes = get_all_nodes_with_css_class(get_html(@event_wrapper.website.url), @event_wrapper.identifier) %>
            <% @path = nodes.first.path %>
        <% end %>
    <% end %>

    <% if @path != nil %>
        <% nodes = get_node_from_xpath(url, @path) %>
        <% nodes.children.each do |n| %>
            <p>
              <%= n.text %>
            </p>
        <% end %>
        <% if @event_wrapper.website.page_type == @event_wrapper.website.types[1]%>
            <% links = get_all_links(nodes) %>
            <% links.each do |n| %>
                <p>
                  <% if n.attribute("class") != nil %>
                  <%= check_box_tag "href_css", n.attribute('class') %>
                  <%= n.attribute('href') %>
                      <% end %>
                </p>
            <% end %>
        <% end %>
        <% if nodes.attribute('class').class != NilClass %>
            <% @event_wrapper.identifier = nodes.attribute('class').value%>
            <%= "nodes att: #{@event_wrapper.identifier}" %>
            <% @event_wrapper.update(:identifier => nodes.attribute('class').value) %>
        <% end %>
    <% end %>

    <%= f.submit %>
  </div>
<% end %>
