<h1>Editing Event Wrapper</h1>

<%= render 'form' %>

<br>
<%= link_to 'Step ind', edit_event_wrapper_path(@event_wrapper, :old_path => @oldPath) %> |
<%= link_to 'Step ud', edit_event_wrapper_path(@event_wrapper, :element => @path) %> |
<%= link_to 'Back', event_wrappers_path %>
