<p id="notice"><%= notice %></p>

<h1>Listing Event Wrappers</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_wrappers.each do |event_wrapper| %>
      <tr>
        <td><%= event_wrapper.identifier %></td>
        <td><%= link_to 'Show', event_wrapper %></td>
        <td><%= link_to 'Edit', edit_event_wrapper_path(event_wrapper) %></td>
        <td><%= link_to 'Destroy', event_wrapper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event wrapper', new_event_wrapper_path %>
