<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @event_wrapper.identifier %>
</p>

<%= link_to 'Edit', edit_event_wrapper_path(@event_wrapper) %> |
<%= link_to 'Back', event_wrappers_path %>
